<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">

   <style>
      * {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .clearfix:after {
         content: "";
         display: table;
         clear: both;
      }

      a {
         color: #5D6975;
         text-decoration: underline;
      }

      body {
         margin: 0 auto; 
         background: #FFFFFF; 
         font-size: 14px; 
      }

      header {
         padding: 10px 0;
         margin-bottom: 30px;
      }

      #logo {
         text-align: center;
         margin-bottom: 10px;
      }

      #logo img {
         width: 200px;
      }

      h1 {
         color: #000;
         font-size: 1.6em;
         line-height: 1.4em;
         font-weight: normal;
         text-align: center;
         margin: 20px 0 20px 0;
      }

      #company {
         float: right;
         text-align: right;
      }

      #project div,
      #company div {
         white-space: nowrap;        
      }

      table {
         width: 100%;
         border-collapse: collapse;
         border-spacing: 0;
         margin-bottom: 10px;
      }

      table th,
      table td {
         text-align: center;
      }

      table th {
         padding: 5px 10px;
         border: 2px solid #000;
         white-space: nowrap;
         text-transform: Uppercase;
         font-weight: bold;
      }

      table .service,
      table .desc {
         text-align: left;
      }

      table td {
         padding: 5px 10px;
         text-align: center;
         border: 1px solid #000;
      }

      table td.service,
      table td.desc {
         vertical-align: top;
      }

      table td.unit,
      table td.qty,
      table td.total {
         font-size: 1em;
      }

      table td.grand {
         border: 1px solid #000;
      }

      td {
         break-inside: auto !important;
      }

      footer {
         text-align: center;
      }
   </style>
</head>
<body>
   <header class="clearfix">
      <div id="logo">
         <img src="https://res.cloudinary.com/dh8kstydf/image/upload/v1680650390/logo-large_tdzmmo.png"/>
      </div>

      <h1>Detalle de recepción de productos</h1>

      <div id="company" class="clearfix">
         <div style="font-weight: bold;">Contacto:</div>
         <div>{{company.name}}</div>
         <div>{{company.phone}}</div>
         <div>{{company.email}}</div>
         <div style="margin-top: 10px;">Dirección</div>
         <div>{{company.address}}</div>
         <div>{{company.city}}</div>
         <div>{{company.state}}</div>
      </div>

      <div id="project">
         <div><span>Fecha de recepción: {{dateIn}}</span></div>

         <div style="margin-top: 10px;">Cliente: <span style="font-weight: bold;">{{reception.company.name}}</span></div>
         <div>Identificación: <span style="font-weight: bold;">{{reception.company.rut}}</span></div>
         <div>Teléfono de contacto: <span style="font-weight: bold;">+58{{reception.company.phone}}</span></div>

         <div style="margin-top: 10px;">Dirección: <span style="font-weight: bold;">{{reception.company.address}}</span></div>
         <div>Ciudad de ubicación: <span style="font-weight: bold;">{{reception.company.city.name}}</span></div>
         <div>Estado de ubicación: <span style="font-weight: bold;">{{reception.company.city.state.name}}</span></div>
      </div>
   </header>

   <main>
      <table>
         <thead>
            <tr>
               <th style="text-align: center;">N°</th>
               <th style="text-align: left;">Producto</th>
               <th style="text-align: center;">Paletas</th>
               <th style="text-align: center;">Unidades/Paleta</th>
               <th style="text-align: center;"># Unidades</th>
            </tr>
         </thead>
         
         <tbody>
            {{#each products}}
               <tr>
                  <td style="text-align: center;">{{inc @index}}</td>
                  <td style="text-align: left;">{{this.product.name}}</td>
                  <td style="text-align: center;">{{this.qty}}</td>
                  <td style="text-align: center;">{{this.product.qtyPerPallet}}</td>
                  <td style="text-align: center;">{{this.units}}</td>
               </tr>
            {{/each}}
         </tbody>
      </table>
   </main>
</body>
</html>